# Environment Variables
python-dotenv

# Vector Database
pinecone

# LLM Models and API Access
openai
together
langchain
langchain-community
langchain-openai

# Data Processing
pandas
lxml

# Machine Learning & NLP
transformers
tf-keras

# PDF Processing
pymupdf
pypdf
markdown-pdf

# Web Application Framework
flask
flask-cors

# Encryption and Database
bcrypt
mysql-connector-python

# Quality Assessment
seaborn
pdfplumber
chardet
wordcloud
scikit-learn
nltk

# Miscellaneous
pytest
tqdm